* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 0.6rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.navbar {
    margin-bottom: 0px;
    background-color: #535353;
    position: sticky;
    position: -webkit-sticky; // 兼容 -webkit 内核的浏览器
    top: 0px; // 必须设一个值，否则不生效
    z-index: 99;
    border-style: none;
    border-radius: 0px;

    .container-fluid {
        .navbar-header {
            a {
                width: 10rem;
                padding: 0;
                color: white;
                margin-left: 0.5rem;

                img {
                    width: 100%;
                }
            }
        }

        .collapse {
            .navbar-nav {
                li {
                    a {
                        color: white;
                    }
                }
            }

            .navbar-right {}

            li {}

            .dropdown {
                a {}

                .dropdown-menu {
                    background-color: #848484;

                    li {
                        a {}
                    }
                }
            }
        }
    }
}

.right_nav {
    width: 8rem;
    height: 30rem;
    background-color: red;
    bottom: initial;
    z-index: 999;
    border-radius: 1rem;
    box-shadow: #d4d4d4 0px 0px 20px;
    background-color: white;
    position: absolute;
    top: 35%; // 必须设一个值，否则不生效
    left: 90%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .right_nav_ul {
        width: 8rem;
        height: 30rem;
        overflow: hidden;
        border-radius: 1rem;

        li {
            height: 5rem;
            width: 8rem;
            list-style: none;

            a {
                height: 5rem;
                width: 8rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                span {
                    font-size: 1.6rem;
                }
                img{
                    width: 3.5rem;
                    height: 3.5rem;
                }
            }
            a:hover {
                text-decoration: none;
                color: white;
                background-color: rgb(45, 206, 255);
            }

        }

        li:nth-child(1) a {
            background-color: rgb(45, 206, 255);
            color: #fff;
        }
        li:nth-child(6) a {
            background-color: white;
            color: #fff;
        }
    }
}

.specialEffects {
    width: 100%;
    height: auto;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;

    .square {
        ul {
            li {
                position: absolute;
                // border: 1px solid #ffffff;
                width: 30px;
                height: 30px;
                list-style: none;
                animation: square 10s linear infinite;
                opacity: 0;
                background-image: linear-gradient(#ffc2af, #ffe8a3);
                z-index: 10;
            }
        }

        li {
            top: 50vh;
            left: 20vw;
        }

        li:nth-child(2) {
            top: 80vh;
            left: 10vw;
            /*动画延迟*/
            animation-delay: 2s;
        }

        li:nth-child(3) {
            top: 80vh;
            left: 85vw;
            animation-delay: 4s;
        }

        li:nth-child(4) {
            top: 10vh;
            left: 90vw;
            animation-delay: 6s;
        }

        li:nth-child(5) {
            top: 10vh;
            left: 10vw;
            animation-delay: 8s;
        }

        li:nth-child(6) {
            top: 40vh;
            left: 80vw;
            animation-delay: 10s;
        }
    }

    // 通过 @keyframes 规则，您能够创建动画。
    @keyframes square {

        // 0% 是动画的开始时间，100% 动画的结束时间。
        0% {
            transform: scale(0) rotateY(0deg);
            opacity: 1;
        }

        100% {
            transform: scale(5) rotateY(1000deg);
            opacity: 0;
        }
    }

    .circle {
        ul {
            li {
                position: absolute;
                // border: 1px solid #ffffff;
                width: 30px;
                height: 30px;
                list-style: none;
                animation: circle 10s linear infinite;
                opacity: 0;
                background-image: linear-gradient(#ffc2af, #ffe8a3);
                z-index: 10;
            }
        }

        li {
            bottom: 0;
            left: 10vw;
        }

        // :nth-child(n) 选择器匹配属于其父元素的第 N 个子元素，不论元素的类型
        li:nth-child(2) {
            left: 20vw;
            // 该属性定义动画何时开始。
            animation-delay: 2s;
        }

        li:nth-child(3) {
            left: 30vw;
            animation-delay: 4s;
        }

        li:nth-child(4) {
            left: 70vw;
            animation-delay: 6s;
        }

        li:nth-child(5) {
            left: 80vw;
            animation-delay: 8s;
        }

        li:nth-child(6) {
            left: 90vw;
            animation-delay: 10s;
        }
    }

    /*创建动画关键帧*/
    @keyframes circle {

        // 0% 是动画的开始时间，100% 动画的结束时间。
        0% {
            transform: scale(0) rotate(0deg);
            opacity: 1;
            bottom: 0;
            border-radius: 0;
        }

        100% {
            transform: scale(4) rotate(1000deg);
            opacity: 0;
            bottom: 90vh;
            border-radius: 50%;
        }
    }

    .my_body {
        width: 125rem;
        height: 83rem;
        position: relative;
        margin: 0 auto;
        margin-top: 4.5rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .top_left_box {
            width: 50rem;
            height: 83rem;
            position: absolute;
            left: 0;
            background-image: url(../images/top-2.png);
            background-size: 100%;
        }

        .introduction_box {
            width: 100%;
            height: 100%;
            // background-color: red;
            display: flex;
            align-items: center;
            justify-content: center;

            .introduction_textbox {
                width: 34rem;
                height: 30rem;

                .titlespan {
                    font-size: 6rem;
                    font-family: "STXinwei";
                    text-align: center;

                    p {
                        font-size: 6rem;
                        font-family: "STXinwei";
                        text-align: center;
                    }

                    .lovespan {
                        font-size: 2rem;
                        font-family: "STXinwei";
                        color: #949494;
                        text-align: left;
                    }
                }
            }

        }

        .bottom_right_box {
            width: 50rem;
            height: 83rem;
            position: absolute;
            right: 0;
            background-image: url(../images/top-1.png);
            background-size: 100%;
        }
    }
}

.skill_box {
    width: 125rem;
    height: 83rem;
    margin: 0 auto;
    margin-top: 7.5rem;

    .skill_title_box {
        .skill_title {
            height: 15rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p {
                font-size: 4rem;
                font-weight: 700;
            }

            .description {
                /*background-image: -webkit-linear-gradient(right, #ffc2af, #ffe8a3);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;*/
                color: #848484;
            }
        }
    }

    .skill_row {
        height: 60rem;

        .skill_body {
            height: 100%;

            ul {
                display: flex;
                flex-direction: row;

                li {
                    width: 10rem;
                    height: 10rem;
                    list-style: none;
                    border-radius: 60%;
                    transition: 1s;

                    .skill_img {
                        width: 10rem;
                        height: 10rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        img {
                            display: none;
                        }

                        span {
                            font-weight: 600;
                        }
                    }
                }

                li:hover {
                    box-shadow: #848484 3px 2px 10px;
                    transform: translate(-3px, 0);
                    transition: 1s;
                }

                li:nth-child(1) {
                    position: relative;
                    left: 7rem;
                    top: 30rem;
                }

                li:nth-child(2) {
                    position: relative;
                    left: 10rem;
                    top: 20rem;
                }

                li:nth-child(3) {
                    position: relative;
                    top: 36rem;
                    left: 5rem;
                }

                li:nth-child(4) {
                    position: relative;
                    top: 45rem;
                    left: 16rem;
                }

                li:nth-child(5) {
                    position: relative;
                    top: 27rem;
                }

                li:nth-child(6) {
                    position: relative;
                    top: 9rem;
                    right: 13rem;
                }

                li:nth-child(7) {
                    position: relative;
                    top: 16rem;
                }

                li:nth-child(8) {
                    position: relative;
                    top: 36rem;
                }

                li:nth-child(9) {
                    position: relative;
                    top: 16rem;
                }

                li:nth-child(10) {
                    position: relative;
                    top: 30rem;
                }

                li:nth-child(11) {
                    position: relative;
                    top: 47rem;
                }

                li:nth-child(12) {
                    position: relative;
                    top: 30rem;
                }

                li:nth-child(13) {
                    position: relative;
                    top: 15rem;
                    right: 21rem;
                }
            }
        }
    }
}

.like_body {
    width: 125rem;
    height: 62rem;
    margin: 0 auto;
    margin-top: 7.5rem;

    .like_title_box {
        .like_title {
            height: 15rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p {
                font-size: 4rem;
                font-weight: 700;
            }

            .description {
                /*background-image: -webkit-linear-gradient(right, #ffc2af, #ffe8a3);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;*/
                color: #848484;
            }
        }
    }

    .like_box {
        margin-top: 5rem;

        .like1 {
            width: 29rem;
            height: 38rem;
            background-image: url(../images/she.jpg);
            background-size: 100%;
            margin-right: 2.5rem;
            padding: 0;
            display: flex;
            align-items: center;
            border-radius: 1rem;
            overflow: hidden;

            .like_text {
                width: 100%;
                height: 6rem;
                background-color: rgba(180, 180, 180, 0.493);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 1s;
                position: relative;
                bottom: 6rem;

                span {
                    font-size: 4rem;
                    color: #fff;
                    font-weight: 600;
                }
            }
        }

        .like1:hover .like_text {
            box-shadow: #000000 0px 10px 20px;
            transform: translate(0, -10px);
            transition: 1s;
        }

        .like2 {
            width: 29rem;
            height: 38rem;
            background-image: url(../images/pao.jpg);
            background-size: 100%;
            margin-right: 2.5rem;
            padding: 0;
            display: flex;
            align-items: center;
            border-radius: 1rem;
            overflow: hidden;

            .like_text {
                width: 100%;
                height: 6rem;
                background-color: rgba(180, 180, 180, 0.493);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 1s;

                span {
                    font-size: 4rem;
                    color: #fff;
                    font-weight: 600;
                }
            }
        }

        .like2:hover .like_text {
            box-shadow: #000000 0px 10px 20px;
            transform: translate(0, -10px);
            transition: 1s;
        }

        .like3 {
            width: 29rem;
            height: 38rem;
            background-image: url(../images/man.jpg);
            background-size: 100%;
            margin-right: 2.5rem;
            padding: 0;
            display: flex;
            align-items: center;
            border-radius: 1rem;
            overflow: hidden;

            .like_text {
                width: 100%;
                height: 6rem;
                background-color: rgba(180, 180, 180, 0.493);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 1s;
                position: relative;
                top: 6rem;

                span {
                    font-size: 4rem;
                    color: #fff;
                    font-weight: 600;
                }
            }
        }

        .like3:hover .like_text {
            box-shadow: #000000 0px 10px 20px;
            transform: translate(0, -10px);
            transition: 1s;
        }

        .like4 {
            width: 29rem;
            height: 38rem;
            background-image: url(../images/dai.jpg);
            background-size: 100%;
            padding: 0;
            display: flex;
            align-items: center;
            border-radius: 1rem;
            overflow: hidden;

            .like_text {
                width: 100%;
                height: 6rem;
                background-color: rgba(180, 180, 180, 0.493);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 1s;
                position: relative;
                top: 12rem;

                span {
                    font-size: 4rem;
                    color: #fff;
                    font-weight: 600;
                }
            }
        }

        .like4:hover .like_text {
            box-shadow: #000000 0px 10px 20px;
            transform: translate(0, -10px);
            transition: 1s;
        }
    }
}

.works_body {
    width: 125rem;
    height: 90rem;
    margin: 0 auto;
    margin-top: 7.5rem;

    .works_title_box {
        .works_title {
            height: 15rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p {
                font-size: 4rem;
                font-weight: 700;
            }

            .description {
                /*background-image: -webkit-linear-gradient(right, #ffc2af, #ffe8a3);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;*/
                color: #848484;
            }
        }
    }

    .works_box {
        margin-top: 4rem;

        .works_box_m {
            ul {
                li {}
            }

            .content_box {
                .content_box1 {
                    width: 100%;
                    height: 73rem;

                    .content_title {
                        width: 100%;
                        height: 5rem;
                        display: block;
                        font-size: 1.6rem;
                        margin-top: 3rem;
                        color: brown;
                    }

                    .Show_box_1 {
                        width: 250px;
                        height: auto;
                        float: left;
                        margin-left: 2rem;
                        border-radius: 2rem;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.Photography_body {
    width: 125rem;
    height: 76rem;
    margin: 0 auto;
    margin-top: 7.5rem;

    .Photography_title_box {
        .Photography_title {
            height: 15rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p {
                font-size: 4rem;
                font-weight: 700;
            }

            .description {
                /*background-image: -webkit-linear-gradient(right, #ffc2af, #ffe8a3);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;*/
                color: #848484;
            }
        }
    }

    .Photography_show {
        width: 100%;
        height: auto;
        margin-top: 5rem;

        .swiper-container {
            .swiper-wrapper {
                .swiper-slide {
                    .thumbnail {
                        width: 60rem;

                        img {}

                        .caption {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            h3 {
                                font-weight: 600;
                            }

                            h5 {
                                font-weight: 600;
                                color: #b9b9b9;
                            }
                        }
                    }
                }
            }
        }
    }
}

.contact_body {
    width: 125rem;
    height: 30rem;
    margin: 0 auto;
    margin-top: 7.5rem;

    .contact_title_box {
        .contact_title {
            height: 15rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p {
                font-size: 4rem;
                font-weight: 700;
            }

            .description {
                /*background-image: -webkit-linear-gradient(right, #ffc2af, #ffe8a3);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;*/
                color: #848484;
            }
        }
    }

    .contact_box {
        width: 100%;
        height: auto;

        .contact_logo {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 3rem;

            li {
                width: 9rem;
                height: 9rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                transition: 1s;
                overflow: hidden;
                position: relative;

                .img_1 {
                    width: 6rem;
                    position: absolute;
                    transition: 0.9s;
                }

                .img_2 {
                    width: 5rem;
                    position: absolute;
                    margin-left: 8rem;
                    transition: 0.9s;
                }
            }

            li:hover {
                background-color: #fff;
                box-shadow: #b3b3b3 0px 10px 20px;
                transform: translate(0, -10px);
                transition: 1s;

                .img_1 {
                    transform: translate(-7.5rem, 0);
                    transition: 0.9s;
                }

                .img_2 {
                    transform: translate(-8rem, 0);
                    transition: 0.9s;
                }
            }
        }
    }
}