* {
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 0.6rem;
}
.navbar {
  margin-bottom: 0px;
  background-color: #848484;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 99;
  border-style: none;
  border-radius: 0px;
}
.navbar .container-fluid .navbar-header a {
  width: 10rem;
  padding: 0;
  color: white;
  margin-left: 0.5rem;
}
.navbar .container-fluid .navbar-header a img {
  width: 100%;
}
.navbar .container-fluid .collapse .navbar-nav li a {
  color: white;
}
.navbar .container-fluid .collapse .dropdown .dropdown-menu {
  background-color: #848484;
}
.specialEffects {
  width: 100%;
  height: auto;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  /*动画关键帧*/
}
.specialEffects .square ul li {
  position: absolute;
  width: 30px;
  height: 30px;
  list-style: none;
  animation: square 10s linear infinite;
  opacity: 0;
  background-image: linear-gradient(#ffc2af, #ffe8a3);
  z-index: 10;
}
.specialEffects .square li {
  top: 50vh;
  left: 20vw;
}
.specialEffects .square li:nth-child(2) {
  top: 80vh;
  left: 10vw;
  /*动画延迟*/
  animation-delay: 2s;
}
.specialEffects .square li:nth-child(3) {
  top: 80vh;
  left: 85vw;
  animation-delay: 4s;
}
.specialEffects .square li:nth-child(4) {
  top: 10vh;
  left: 90vw;
  animation-delay: 6s;
}
.specialEffects .square li:nth-child(5) {
  top: 10vh;
  left: 10vw;
  animation-delay: 8s;
}
.specialEffects .square li:nth-child(6) {
  top: 40vh;
  left: 80vw;
  animation-delay: 10s;
}
@keyframes square {
  0% {
    transform: scale(0) rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(5) rotateY(1000deg);
    opacity: 0;
  }
}
.specialEffects .circle ul li {
  position: absolute;
  width: 30px;
  height: 30px;
  list-style: none;
  animation: circle 10s linear infinite;
  opacity: 0;
  background-image: linear-gradient(#ffc2af, #ffe8a3);
  z-index: 10;
}
.specialEffects .circle li {
  bottom: 0;
  left: 10vw;
}
.specialEffects .circle li:nth-child(2) {
  left: 20vw;
  animation-delay: 2s;
}
.specialEffects .circle li:nth-child(3) {
  left: 30vw;
  animation-delay: 4s;
}
.specialEffects .circle li:nth-child(4) {
  left: 70vw;
  animation-delay: 6s;
}
.specialEffects .circle li:nth-child(5) {
  left: 80vw;
  animation-delay: 8s;
}
.specialEffects .circle li:nth-child(6) {
  left: 90vw;
  animation-delay: 10s;
}
@keyframes circle {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 1;
    bottom: 0;
    border-radius: 0;
  }
  100% {
    transform: scale(4) rotate(1000deg);
    opacity: 0;
    bottom: 90vh;
    border-radius: 50%;
  }
}
.specialEffects .my_body {
  width: 125rem;
  height: 83rem;
  position: relative;
  margin: 0 auto;
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
}
.specialEffects .my_body .top_left_box {
  width: 50rem;
  height: 83rem;
  position: absolute;
  left: 0;
  background-image: url(../images/top-2.png);
  background-size: 100%;
}
.specialEffects .my_body .introduction_box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.specialEffects .my_body .introduction_box .introduction_textbox {
  width: 34rem;
  height: 30rem;
}
.specialEffects .my_body .introduction_box .introduction_textbox .titlespan {
  font-size: 6rem;
  font-family: "STXinwei";
  text-align: center;
}
.specialEffects .my_body .introduction_box .introduction_textbox .titlespan p {
  font-size: 6rem;
  font-family: "STXinwei";
  text-align: center;
}
.specialEffects .my_body .introduction_box .introduction_textbox .titlespan .lovespan {
  font-size: 2rem;
  font-family: "STXinwei";
  color: #949494;
  text-align: left;
}
.specialEffects .my_body .bottom_right_box {
  width: 50rem;
  height: 83rem;
  position: absolute;
  right: 0;
  background-image: url(../images/top-1.png);
  background-size: 100%;
}
.skill_box {
  width: 125rem;
  height: 83rem;
  margin: 0 auto;
  margin-top: 7.5rem;
}
.skill_box .skill_title_box .skill_title {
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skill_box .skill_title_box .skill_title p {
  font-size: 4rem;
  font-weight: 700;
}
.skill_box .skill_title_box .skill_title .description {
  /*background-image: -webkit-linear-gradient(right, #ffc2af, #ffe8a3);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;*/
  color: #848484;
}
.skill_box .skill_row {
  height: 60rem;
}
.skill_box .skill_row .skill_body {
  height: 100%;
}
.skill_box .skill_row .skill_body ul {
  display: flex;
  flex-direction: row;
}
.skill_box .skill_row .skill_body ul li {
  width: 10rem;
  height: 10rem;
  list-style: none;
  border-radius: 60%;
  transition: 1s;
}
.skill_box .skill_row .skill_body ul li .skill_img {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill_box .skill_row .skill_body ul li .skill_img span {
  font-weight: 600;
}
.skill_box .skill_row .skill_body ul li:hover {
  box-shadow: #848484 3px 2px 10px;
  transform: translate(-3px, 0);
  transition: 1s;
}
.skill_box .skill_row .skill_body ul li:nth-child(1) {
  position: relative;
  left: 7rem;
  top: 30rem;
}
.skill_box .skill_row .skill_body ul li:nth-child(2) {
  position: relative;
  left: 10rem;
  top: 20rem;
}
.skill_box .skill_row .skill_body ul li:nth-child(3) {
  position: relative;
  top: 36rem;
  left: 5rem;
}
.skill_box .skill_row .skill_body ul li:nth-child(4) {
  position: relative;
  top: 45rem;
  left: 16rem;
}
.skill_box .skill_row .skill_body ul li:nth-child(5) {
  position: relative;
  top: 27rem;
}
.skill_box .skill_row .skill_body ul li:nth-child(6) {
  position: relative;
  top: 9rem;
  right: 13rem;
}
.skill_box .skill_row .skill_body ul li:nth-child(7) {
  position: relative;
  top: 16rem;
}
.skill_box .skill_row .skill_body ul li:nth-child(8) {
  position: relative;
  top: 36rem;
}
.skill_box .skill_row .skill_body ul li:nth-child(9) {
  position: relative;
  top: 16rem;
}
.skill_box .skill_row .skill_body ul li:nth-child(10) {
  position: relative;
  top: 30rem;
}
.skill_box .skill_row .skill_body ul li:nth-child(11) {
  position: relative;
  top: 16rem;
}
.skill_box .skill_row .skill_body ul li:nth-child(12) {
  position: relative;
  top: 30rem;
}
.like_body {
  width: 125rem;
  height: 83rem;
  margin: 0 auto;
  margin-top: 7.5rem;
}
.like_body .like_title_box .like_title {
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.like_body .like_title_box .like_title p {
  font-size: 4rem;
  font-weight: 700;
}
.like_body .like_title_box .like_title .description {
  /*background-image: -webkit-linear-gradient(right, #ffc2af, #ffe8a3);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;*/
  color: #848484;
}
.like_body .like_box {
  margin-top: 5rem;
}
.like_body .like_box .like1 {
  width: 29rem;
  height: 38rem;
  background-image: url(../images/she.jpg);
  background-size: 100%;
  margin-right: 1rem;
  padding: 0;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
}
.like_body .like_box .like1 .like_text {
  width: 100%;
  height: 6rem;
  background-color: rgba(180, 180, 180, 0.493);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  position: relative;
  bottom: 6rem;
}
.like_body .like_box .like1 .like_text span {
  font-size: 4rem;
  color: #fff;
  font-weight: 600;
}
.like_body .like_box .like1:hover .like_text {
  box-shadow: #000000 0px 10px 20px;
  transform: translate(0, -10px);
  transition: 1s;
}
.like_body .like_box .like2 {
  width: 29rem;
  height: 38rem;
  background-image: url(../images/pao.jpg);
  background-size: 100%;
  margin-right: 1rem;
  padding: 0;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
}
.like_body .like_box .like2 .like_text {
  width: 100%;
  height: 6rem;
  background-color: rgba(180, 180, 180, 0.493);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
.like_body .like_box .like2 .like_text span {
  font-size: 4rem;
  color: #fff;
  font-weight: 600;
}
.like_body .like_box .like2:hover .like_text {
  box-shadow: #000000 0px 10px 20px;
  transform: translate(0, -10px);
  transition: 1s;
}
.like_body .like_box .like3 {
  width: 29rem;
  height: 38rem;
  background-image: url(../images/man.jpg);
  background-size: 100%;
  margin-right: 1rem;
  padding: 0;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
}
.like_body .like_box .like3 .like_text {
  width: 100%;
  height: 6rem;
  background-color: rgba(180, 180, 180, 0.493);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  position: relative;
  top: 6rem;
}
.like_body .like_box .like3 .like_text span {
  font-size: 4rem;
  color: #fff;
  font-weight: 600;
}
.like_body .like_box .like3:hover .like_text {
  box-shadow: #000000 0px 10px 20px;
  transform: translate(0, -10px);
  transition: 1s;
}
.like_body .like_box .like4 {
  width: 29rem;
  height: 38rem;
  background-image: url(../images/dai.jpg);
  background-size: 100%;
  margin-right: 1rem;
  padding: 0;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
}
.like_body .like_box .like4 .like_text {
  width: 100%;
  height: 6rem;
  background-color: rgba(180, 180, 180, 0.493);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  position: relative;
  top: 12rem;
}
.like_body .like_box .like4 .like_text span {
  font-size: 4rem;
  color: #fff;
  font-weight: 600;
}
.like_body .like_box .like4:hover .like_text {
  box-shadow: #000000 0px 10px 20px;
  transform: translate(0, -10px);
  transition: 1s;
}
